p {
  text-align: justify;
  font-size: 1em;
  line-height: 1.6;
  margin: 0;
  padding: 4px;
  border-radius: 5px;
}
p:hover {
  box-shadow: rgba(0, 0, 0, 0.077) 0px -1px 5px 0px; 
  background-color: var(--bgColor2);
}

.titles {
  font-weight: bold;
  font-size: 1.2em;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  gap: 30px;
}
ul a {
  text-decoration: none;
  color: var(--btnColor-1);
  font-weight: bold;
}
ul a:hover { 
  color: var(--btnColor-2);
}
.center {
  margin-top: 1em;
}
.center p {
  text-align: center;
  font-weight: bold;
}
.book {
  max-width: 1200px;
  margin: 0 auto;
  overflow-y: auto;
  height: calc(100vh - 40px);
  scroll-behavior: smooth;
  box-sizing: border-box;
}
.page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto; /* Altura agora pode variar */
  box-sizing: border-box;
}
.column {
  font-size: 14px;
  line-height: 1.6;
  overflow: visible;
  text-align: justify;
  padding: 0 4px;
  box-sizing: border-box;
}
.column p {
  /* margin: 0; */
  line-height: 1.6;
}
.numLei {
  font-weight: bolder;
}
.descricao {
  color: rgb(155, 1, 1);
  font-weight: bold;
  text-align: end;
  width: 80%;
  margin-left: auto;
}
.preambulo {
  font-size: x-small;
}
.encerramento {
  font-size: x-small;
}
.leiRef {
  color: rgb(0, 0, 192);
  cursor: pointer;
}


